@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@layer utilities {
  .prose :where(code):not(:where([class~="not-prose"] *)) {
    @apply bg-gray-100 dark:bg-gray-800 px-2 py-1 rounded;
  }

  @media print {
    .dark .prose {
      color: #000 !important;
    }

    .dark {
      background-color: #fff !important;
    }
  }
}